Source: zero-jclic-reports
Section: misc
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Homepage: http://clic.xtec.net/en/jclic/index.htm
Build-Depends: debhelper (>= 11), zero-dev,llxsrchelper,python3-poinstaller
Standards-Version: 4.1.2

Package: zero-jclic-reports
Architecture: all
Depends: jclic, ${misc:Depends}, lliurex-sgbd
Enhances: lliurex-sgbd
Description: Configuration for jclic-reportserver
 Configuration for jclic-reportserver on classroom
 environmnent
