Source: zero-jclic-jreports
Section: misc
Priority: optional
Homepage: http://clic.xtec.net/en/jclic/index.htm
Maintainer: José L. Redrejo Rodríguez <jredrejo@debian.org>
Build-Depends: debhelper (>= 5.0.51), zero-dev,llxsrchelper
Standards-Version: 4.1.2

Package: zero-jclic-reports
Architecture: all
Depends: jclic, ${misc:Depends}
Enhances: lliurex-sgbd
Description: Configuration for jclic-reportserver
 Configuration for jclic-reportserver on classroom
 environmnent
